@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
.adress {
    display: flex;
    flex-direction: row;
    font-family: "Nunito", sans-serif;
    transform: scale(0.9);
    position: absolute;
    top: 10px;
    left: 15rem;
    color: rgba(66, 66, 66, 0.900);
}
